<%- include header %>
<form method="post">
    <div class="input_control">
        <input type="text" name=name class="form_input" placeholder="请输入用户名"/>
    </div>
    <div class="input_control">
        <input type="password" name="password"  class="form_input" placeholder="请输入密码"/>
    </div>
    <div class="input_control">
        <input type="password" name="password-repeat"  class="form_input" placeholder="请输入确认密码"/>
    </div>
    <div class="input_control">
        <input type="email" name="email"  class="form_input" placeholder="请输入邮箱"/>
    </div>
    <div class="input_control">
        <input type="submit" value="注册">
    </div>
</form>
<%- include footer %>
